
.best__flex {
  max-width: 900px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: normal;
  justify-content: center;
  overflow: hidden;
  margin: 60px auto 0;
  height: 380px;
}
.best__item {
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 15px;
  overflow: hidden;
  border-radius: 30px;
  background-repeat: no-repeat;
  width: 8%;
  position: relative;
  object-fit: cover;
  background-size: cover;
}
.best__item-active {
  width: 90%;
}
.best__box {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: #000;
  font-size: 30px;
}

.best__text {
  /* width: 300px; */
  position: absolute;
  left: 65px;
  bottom: 10px;
}
.best__text h5 {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 768px) {
  /* Target the individual divs */
  .best__item:nth-child(n+5) {
    display: none; /* Hide divs starting from the 4th one */
  }
}

@media (max-width: 450px) {
  /* Target the individual divs */
  .best__item:nth-child(n+4) {
    display: none; /* Hide 
    divs starting from the 4th one */
  }
  .best__item{
    width: 15%;
  }
  .best__item-active{
    width: 90%;
  }
}