@media (max-width: 1200px) {
  .hero__info {
    padding: 40px 40px;
    border-radius: 31px;
    width: 50%;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }
  .hero__icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .hero__txt {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .hero-3 {
    background-image: url("../../assets/hero/dubai-medium.jpg");
  }
  .hero-2 {
    background-image: url("../../assets/hero/antaliya-md.jpg");
  }
  .hero__info {
    padding: 30px 30px;
    border-radius: 61px;
    width: 90%;
  }
  .hero__info {
    margin-top: -30px;
    padding: 10px 10px;
    border-radius: 31px;
    width: 50%;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }
  .hero__icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .hero__txt {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .hero__info {
    margin-top: -30px;
    padding: 10px 10px;
    border-radius: 31px;
    width: 50%;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }
  .hero__icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .hero__txt {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .hero{
    height: 100vh;
  }
  .hero__info {
    background-color: rgb(255, 255, 255, 0.2);
    padding: 30px 10px;
    border-radius: 20px;
    width: 80%;
    backdrop-filter: blur(10px);
  }
  .hero__text-subtitle {
    font-size: 18px;
    text-align: center;
  }

  .hero__text-title {
    font-size: 30px;
    color: #ffff;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
