
.hero {
  width: 100%;
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1000;
}
.hero-1 {
  background-image: url("../../assets/hero/istanbul.jpg");
}
.hero-2 {
  background-image: url("../../assets/hero/antalya.jpg");
}
.hero-3 {
  background-image: url("../../assets/hero/dubai.jpg");
}

.hero__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10%;
  gap: 100px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero__text-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.hero__text-title {
  font-size: 50px;
  color: #ffff;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero__text-btn {
}

.hero__info {
  background-color: #fff;
  color: #000;
  padding: 60px 60px;
  border-radius: 61px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__info-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero__population {
}

.hero__icon {
  position: relative;
  width: 70px;
  height: 70px;
  border: 1px solid;
  border-radius: 50%;
  border-color: #22b3c1;
  color: #22b3c1;
  font-size: 30px;
}

.hero__icon a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.hero__txt {
  font-size: 22px;
  color: #000;
  font-weight: 600;
}

span.hero__txt-span {
  font-size: 20px;
  color: #22b3c1;
  font-weight: 700;
  line-height: 28px;
}
