.locations {
    padding: 50px 0;
}
.location__img {
    position: relative;
    flex: 1;
    margin: 20px;
    height: 200px;
    transition:  flex 0.3s ease;
}
.location__slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
}

.location__slider {
    margin-top: 30px;
}

.location__img.collapsed {
    flex: 0  0 200px;
}
.location__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.location__info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    bottom:5%;
    left: 5%;
}
.location__info-btn {
    font-size: 80px;
    color: #fff;
    cursor: pointer;
}
.location__info-text {
    font-size: 20px;
    color: #fff;
}

